header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

header h1 {
  margin: 0;
}

.header-logo {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

}

.img-logo {
  width: 10%;
}

@media print {
  .img-logo {
    width: 20%;
  }
}