.nova-hospedagem {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 10px;
}


.parcial-hospedagem {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 10px;
}



.class {
  padding: 20px 40px;
}

.table {
  padding: 15px;
}