.nova-hospedagem {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 10px;
}


.parcial-hospedagem {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 10px;
}

div .card2 {
  width: 70%;
  margin: 5px auto;
  background-color: #BBCE8A;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #8C8C8C;

}

div .card3 {
  width: 70%;
  margin: 5px auto;
  background-color: #BBCE8A;
  padding: 20px;
  gap: 10px;
  border-radius: 4px;
  justify-content: center;
  border: 1px solid #8C8C8C;
}

div .card4 {
  max-width: 500px;
  margin: 5px auto;
  background-color: #BBCE8A;
  padding: 20px;
  gap: 10px;
  border-radius: 4px;
  justify-content: center;
  border: 1px solid #8C8C8C;
  align-self: center;
}


.infos-dogg {
  width: 100%;
}

.buttons {
  align-self: flex-end;
  justify-content: space-between;
}

.fechar-hospedagem {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.class {
  padding: 20px 40px;
}

