

main {

  margin: 0;
  background-color: #EDF5C4;
}


.circle {
  background-color: #FF571B;
  color: antiquewhite;
  border-radius: 30px;
}

.titulo {
  margin: 0px auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tituloH3 {
  margin: 40px auto 0 auto;
  justify-content: center;

}

.tituloH4 {
  margin: 50px auto 0 auto;

}

.buttonVagas {
  display: flex;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  color: #FFFFFF;
  background: #F9B96E;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.vagasDisponiveis {
  width: 220px;
  display: flex;
  justify-content: center;
}

.buttonIniciar {
  display: flex;
  padding: 0 15px;
  height: 50px;
  color: #FFFFFF;
  background: #FF8A00;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.buttonIniciar:hover {
  background: #E07C06;
  }

.modal-title,
.modal-body {
  color: black;
}  

.lista-hospedagens {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

div .card {
  width: 70%;
  margin: 20px auto;
  background-color: #BBCE8A;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px;
  gap: 10px;
}

.dog-photo-card {
  display: flex;
  justify-content: center;
  align-content: center;
}

.dog-photo-card .foto-dog {
  width: 100%;
}

.dog-info-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.dog-info-card a {
  text-decoration: none;
  color: #FFFFFF;
}
.dog-info-card a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.fim {
  padding: 20px;
}

@media print {
  main-menu {
    display: none;
  }
}