


.slot {
  width: 100px;
  height: 75px;
  border: 2px solid black;
  margin: 2px;
  display: flex;
}

.slot-vazio {
  border: 2px solid black;
  margin: 2px;
  width: 100px;
  height: 75px;
  display: flex;
}