{% extends 'base.html.twig' %}

{% block title %}New Cachorro{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="item-show">
    <div>
        <h1>Cadastrar Cachorro</h1>

        {{ include('cachorro/_form.html.twig') }}

        <a href="{{ path('app_cachorro_index') }}">voltar para lista de cachorros</a>
    </div>
</div>
{% endblock %}

