{% extends 'base.html.twig' %}

{% block title %}New Cachorro{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
 
{% block body %}
{% block mainMenu %}
        <div class="main-menu">
       
        <div> 

            Passo 1:<a href="/dono/new"> Cadastrar novo Dono</a>
        </div>
        <div>

            Passo 2:<a href="/cachorro/new"> Cadastrar novo Cachorro</a>
        </div>   
        <div>

            Passo 3:<a href="{{ path('app_hospedagem_new') }}"> Agendar nova Hospedagem</a>
        </div>   
        
        
    </div>
        {% endblock %}
<div class="item-show">
    <div>
        <h1>Cadastrar Cachorro</h1>

        {{ include('cachorro/_form.html.twig') }}

        <a href="{{ path('app_cachorro_index') }}">voltar para lista de cachorros</a>
    </div>
</div>
{% endblock %}

