{% extends 'base.html.twig' %}

{% block title %}Nova Hospedagem{% endblock %}

{% block body %}
<div class="nova-hospedagem">
    <div>
    <div class="item">
    <h1>Agendar Hospedagem</h1>
    </div>
    <div>
    {{ include('hospedagem/_form.html.twig') }}
    </div>
    <div>
    <a href="{{ path('app_hospedagem_index') }}">Voltar para Hospedagens</a>
    </div>
    </div>
</div>
    

{% endblock %}
