{% extends 'base.html.twig' %}

{% block title %}Edit ServicosExtras{% endblock %}

{% block body %}
    <h1>Edit ServicosExtras</h1>

    {{ include('servicos_extras/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_servicos_extras_index') }}">back to list</a>

    {{ include('servicos_extras/_delete_form.html.twig') }}
{% endblock %}
