{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="item-show">
    <div class="card4">
    <h1>Criar novo usuário</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">voltar para lista</a>
    </div>
</div>
{% endblock %}
