{% extends 'base.html.twig' %}

{% block title %}New Dono{% endblock %}

{% block body %}
    <h1>Create new Dono</h1>

    {{ include('dono/_form.html.twig') }}

    <a href="{{ path('app_dono_index') }}">back to list</a>
{% endblock %}
