{% extends 'base.html.twig' %}

{% block title %}Novo Dono{% endblock %}

{% block body %}
 {% block mainMenu %}
        <div class="main-menu">
       
        <div> 

            Passo 1:<a href="/dono/new"> Cadastrar novo Dono</a>
        </div>
        <div>

            Passo 2:<a href="/cachorro/new"> Cadastrar novo Cachorro</a>
        </div>   
        <div>

            Passo 3:<a href="{{ path('app_hospedagem_new') }}"> Agendar nova Hospedagem</a>
        </div>   
        
        
    </div>
        {% endblock %}
<div class="item-show">

    <div>
    <h1>Cadastrar novo Dono</h1>

    {{ include('dono/_form.html.twig') }}
    <br>
    <a href="{{ path('app_dono_index') }}">lista de donos</a>
    </div>
</div>
{% endblock %}
