<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/img/pata.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="{{asset('stylesheets/style.css')}}">
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        
        {% endblock %}
    
    </head>
    <body>
   
    <header>
     <div class="header-logo">
            <img class="img-logo" src="/img/pata.png">
            <h1>DogHoster</h1>
           
        </div>
        
    <div class="main-menu">
       
        <div> 

            <a href="/dono/new"> Cadastrar novo Dono</a>
        </div>
        <div>

            <a href="/cachorro/new"> Cadastrar novo Cachorro</a>
        </div>   
            
        
    </div>
    </header>

       

        {% block body %}{% endblock %}
    <footer class="footer">
        <div class="footer-menu">
            <a href="/">Página Principal</a>
            <a href="/cachorro">Cachorros Cadastrados</a>
            <a href="/recibos">Recibos</a>
            <a href="/dono">Donos</a>
        <div>
    </footer>
    </body>
</html>
